.features {
  background-color: #fff;
  padding: 5rem 0;

  h5 {
    line-height: 1.8;
    font-family: var(--font-montserrat);
    font-weight: 700;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    font-family: var(--font-roboto-condensed);
  }

  p {
    font-weight: 600;
    display: table;
    text-align: justify;
    margin-top: 20px;
  }
}
